<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="http://www.tylermaxwell.co/about"
          ><span class="glyphicon glyphicon-user"></span> About Tyler Maxwell</a
        >
      </li>
      <li class="dropdown">
        <a
          href="#"
          class="dropdown-toggle"
          data-toggle="dropdown"
          role="button"
          aria-expanded="false"
          ><span class="glyphicon glyphicon-info-sign"></span> My APIs
          <span class="caret"></span
        ></a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a
              href="https://devcenter.heroku.com/articles/getting-started-with-ruby"
              >Getting Started with Ruby on Heroku</a
            >
          </li>
          <li>
            <a
              href="https://devcenter.heroku.com/articles/getting-started-with-java"
              >Getting Started with Java on Heroku</a
            >
          </li>
          <li>
            <a
              href="https://devcenter.heroku.com/articles/getting-started-with-go"
              >Getting Started with Go on Heroku</a
            >
          </li>
          <li class="divider"></li>
          <li>
            <a
              href="https://devcenter.heroku.com/articles/getting-started-with-heroku-and-connect-without-local-dev"
              >Getting Started on Heroku with Heroku Connect</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="http://www.tylermaxwell.co"
          ><span class="glyphicon glyphicon-book"></span> Tyler Maxwell</a
        >
      </li>
    </ul>
  </div>
</nav>
