<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
      <div class="container">
        <a href="/" class="lang-logo">
          <img src="/lang-logo.png" />
        </a>
        <h1>Tyler Maxwell API</h1>
        <p>
          This is the API that I use for the front end pages in my
          <a
            href="https://medium.com/rubypythoncjs/180-websites-in-180-days-14a3c18f4984"
            >180 day challenge.</a
          >
        </p>
        <a
          type="button"
          class="btn btn-lg btn-default"
          href="http://www.tylermaxwell.co/portfolio"
          ><span class="glyphicon glyphicon-flash"></span> Hire Tyler Maxwell</a
        >
        <a
          type="button"
          class="btn btn-lg btn-primary"
          href="https://github.com/tmax818/heroapi"
          ><span class="glyphicon glyphicon-download"></span> GitHub Repo</a
        >
      </div>
    </div>
    <div class="container">
      <div class="alert alert-info text-center" role="alert">
        To learn more about this amazing web developer and all around good egg,
        check out my
        <a href="http://www.tylermaxwell.co/portfolio" class="alert-link"
          >portfolio</a
        >
        page.
      </div>
      <hr />
      <div class="row">
        <div class="col-md-6">
          <h3>
            <span class="glyphicon glyphicon-info-sign"></span> Why Tyler
            Maxwell is Awsome
          </h3>
          <ul>
            <li>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima
              repudiandae molestiae tempora, laborum ratione vel nemo illo?
              Sequi quis eligendi deserunt, dignissimos, quisquam minima ipsa
              eum, sit maiores quidem labore.
              <a href="#">Don't click!!!</a>
              you smell like road kill.
            </li>

            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
              veritatis nesciunt hic. Assumenda nihil culpa quo, up yours odio
              laudantium temporibus reiciendis beatae vitae blanditiis
              laboriosam incidunt.
              <a href="#">package.json</a>, I can't believe you're reading this.
            </li>
            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. In,
              mollitia libero aperiam cumque eum aliquam accusamus blanditiis
              velit.
            </li>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Quibusdam iste provident in, nesciunt quisquam nulla animi sequi,
              quia consectetur possimus harum est.
              <a href="#">150 add-on services</a>, from the Dashboard or CLI.
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <h3>
            <span class="glyphicon glyphicon-link"></span> He is so Handsome!
          </h3>
          <ul>
            <li>
              This shit is too pretty to delete
              <a href="#">Check this out</a>
              , yeah, it's nothing...
            </li>
            <li>
              If you want to have some fun, then in a command line shell, run:
            </li>
            <ul>
              <li>
                <code>git clone https://github.com/tmax818/heroapi.git</code>
                - this will create a local copy of the source code for the app
              </li>
              <li>
                <code>cd heroapi</code> - change directory into the local source
                code repository
              </li>
              <li>
                You'll now be set up to run the app locally, or
                <a href="#">deploy changes</a>
                to Heroku
              </li>
            </ul>
          </ul>
          <h3><span class="glyphicon glyphicon-link"></span> Useful Links</h3>
          <ul>
            <li><a href="https://www.heroku.com/home">Heroku</a></li>
            <li>
              <a href="https://devcenter.heroku.com/">Heroku Dev Center</a>
            </li>
            <li>
              <a
                href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"
                >Getting Started with Node on Heroku</a
              >
            </li>
            <li>
              <a href="https://devcenter.heroku.com/articles/deploying-nodejs"
                >Deploying Node Apps on Heroku</a
              >
            </li>
          </ul>
        </div>
      </div>
      <!-- row -->
      <div class="alert alert-info text-center" role="alert">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente beatae
        nam, eius accusantium deserunt rerum consequatur. Unde magnam autem
        voluptatibus consequuntur exercitationem esse. Aperiam fugit rerum
        expedita consequuntur, veritatis minima.
      </div>
    </div>
  </body>
</html>
